<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <aop:aspectj-autoproxy/>

    <bean id="student" class="by.itacademy.javaenterprise.seledtsova.Student">
        <constructor-arg index="0" value="Petrov"/>
        <constructor-arg index="1" value="Belarusian State University"/>
        <constructor-arg index="2" value="Faculty of Economics"/>
        <constructor-arg index="3" value="3"/>
    </bean>

    <bean id="logging" class="by.itacademy.javaenterprise.seledtsova.Logging"/>

</beans>

